/* ==========================================================================
   Footer CSS
   ========================================================================== */
@import 'variables.scss';

.footer {
  @include shadow;

  position: relative;
  width: 100%;
  background-color: $white;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 300px;

  @media screen and (min-width: $big-screen-min) {
    margin-top: 400px;
  }

  @media screen and (max-width: $mobile-max) {
    margin-top: 150px;
  }

  .logo {
    margin-left: 30px;
    width: 80px;
  }

  .footer__circle {
    position: absolute;
    right: -250px;
    bottom: 0px;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-color: $green;
    z-index: -1;

    @media screen and (min-width: $big-screen-min) {
      right: 15%;
    }

    @media screen and (max-width: $tablet-max) {
      width: 430px;
      height: 430px;
    }

    @media screen and (max-width: $mobile-max) {
      width: 250px;
      height: 250px;
      right: -150px;
    }
  }
}

