/* ==========================================================================
   Navbar CSS
   ========================================================================== */
@import 'variables.scss';

.nav {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  @media screen and (max-width: $mobile-max) {
    height: 60px;
  }

  .logo {
    width: 80px;
    margin-left: 30px;
    cursor: pointer;
  }

  .nav__items{
    font-size: 16px;
    margin-left: 80px;

    @media screen and (max-width: $mobile-max) {
      display: none;
    }

    a {
      margin-right: 30px;
      color: $grey;
      font-weight: $regular;
    }

    .nav__active {
      color: $black;
      font-weight: $medium;
    }
  }

  .hamburger {
    position: absolute;
    right: 30px;
    display: none;
    cursor: pointer;

    @media screen and (max-width: $mobile-max) {
      display: block;
    }
  }

  .mobile__nav {
    width: 0%;
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    background-color: $green;
    visibility: hidden;
    transition: all 0.2s linear;

    .mobile__nav__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 100px auto 0 auto;
      font-size: 30px;
      color: $black;
      width: 250px;

      a {
        color: $black;
        margin-bottom: 22px;
        font-weight: $regular;

        &:hover {
          text-decoration: underline;
        }
      }

      .items__active {
        font-weight: $medium;
        color: $white;

      }
    }

    .cross {
      position: absolute;
      right: 27px;
      top: 13px;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .mobile__active {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
}

