//colors
$black: black;
$white: white;
$grey: #797979;

$green: #42DC4F;
$yellow: #FFCC47;
$blue: #476BFF;

$yellow-hover: #FFBD12;

//font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

//Mixins
@mixin shadow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.07); 
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.07);
}

//Responsive widths
$mobile-max: 768px;
$tablet-max: 1023px;
