//colors
$black: black;
$white: white;
$grey: #797979;

$green: #42DC4F;
$yellow: #FFCC47;
$blue: #476BFF;

$yellow-hover: #FAC746;

//font weights
$regular: 400;
$medium: 500;
$bold: 700;

//shadow mixin
@mixin shadow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.07); 
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.07);
}
